DB_URL=jdbc:mysql://localhost:3306/intifix_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=

MAIL_USERNAME=coloca_tu_correo@gmail.com
MAIL_PASSWORD=coloca_tu_contraseña_de_aplicacion

ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@intifix.com
ADMIN_PASSWORD=Admin123456
ADMIN_DNI=00000000
ADMIN_PHONE=999999999